
* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    background-color: #775A9C;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: Inter, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
    background-color: white;
    display: grid;
    grid-template: 842px / 650px;
}

.paper {
    padding: 30px;
}

.header {
    margin-bottom: 10px;
    display: grid;
    grid-template: auto 1fr 10px / 3fr 2fr;
}

.header > .profile-picture {
    margin-left: auto;
    grid-column: 2;
    grid-row: span 2;
    max-width: 100%;
    border-radius: 8px;
}

.fullName {
    margin: 0;
    padding-top: 34px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    font-weight: bold;
    font-size: 20px;
    max-width: 240px;
    font-family: Inter, serif;
}


.personal-information {
    padding-top: 10px;
    grid-row: 2;
    grid-column: 1;
}

.personal-information > .add-button {
    margin-top: 2px;
    margin-left: 15px;
    max-width: 12px;
    cursor: pointer;
}

.personal-detail {
    display: grid;
    grid-template: 1fr / 12px 110px 1fr;
}

.personal-detail > .detail,
.personal-detail > .title {
    font-size: 12px;
    font-family: Inter, serif;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.03rem;
    overflow-wrap: break-word;
}

.personal-detail > .delete-button {
    cursor: pointer;
    align-self: center;
    max-width: 100%;
}

.personal-detail > .detail {
    margin-right: 2px;
}

.personal-detail > .title {
    margin-right: 10px;
    margin-left: 3px;
}


.header > .line-break {
    grid-column: span 2;
    border-bottom: 2px solid black;
}

input {
    border: hidden;
    padding: 0;
}

input:focus {
    z-index: 2;
}

section {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 10px;
}

.title-container {
    display: flex;
    gap: 4px;
    align-items: center;
    grid-column: span 2;
}

.title-container > .delete-button {
    max-width: 15px;
    cursor: pointer;
}

.title-container > .title {
    font-family: Inter, serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.subsection-container {
    grid-column: span 2;
    display: grid;
    grid-template-columns: auto 200px 1fr;
    align-items: center;
    gap: 5px;
    padding-left: 30px;
}

.subsection-container > .delete-button {
    max-width: 12px;
    cursor: pointer;
}

.subsection-container > .detail {
    grid-column: 3;
    max-width: 80%;
    resize: vertical;
}

.subsection-container > .date {
    font-family: Inter, serif;
    font-size: 0.8rem;
    font-weight: bold;
    margin-right: 20px;
}


@media print {
    @page {
        size: A4;
    }
}

