
* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    background-color: #775A9C;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: Inter, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
    background-color: white;
    min-height: 985px;
}

.paper {
    padding: 30px;
}

.header {
    margin-bottom: 10px;
    display: grid;
    grid-template: auto 1fr 10px / 3fr 2fr;
}

.picture-container {
    cursor: pointer;
    margin-left: auto;
    grid-column: 2;
    grid-row: span 2;
    max-width: 100%;
}

.profile-picture {
    border-radius: 8px;
    max-width: 100%;
    max-height: 180px;
}

.form-container {
    cursor: default;
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(25, 145, 211, 0.62);
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #9e4cd9;
    width: 40vw;
    height: 25vh;
    padding: 20px;
    box-shadow: 2px 2px 10px 2px black;
    border-radius: 20px;
}

form > .close-button {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    max-width: 20px;
}

form > label {
    font-weight: bold;
    font-family: Inter, serif;
    font-size: 1.2rem;
    color: white;
}

form > input {
    font-family: Inter, serif;
    font-size: 1rem;
    width: 80%;
    padding: 5px;
    border-radius: 10px;
    outline: black;
}

form > button {
    cursor: pointer;
    padding: 5px 20px;
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
    font-family: Inter, serif;
    color: #000000;
    font-weight: bold;
}

form > a {
    font-weight: bold;
    font-size: 1.2rem;
    color: lawngreen;
}

form > a:hover {
    color: white;
}

.fullName {
    margin: 0;
    padding-top: 34px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    font-weight: bold;
    font-size: 20px;
    max-width: 240px;
    font-family: Inter, serif;
}


.personal-information {
    padding-top: 10px;
    grid-row: 2;
    grid-column: 1;
}

.personal-information > .add-button {
    margin-top: 2px;
    margin-left: 15px;
    max-width: 12px;
    cursor: pointer;
}

.personal-detail {
    display: grid;
    grid-template: 1fr / 12px 110px 1fr;
}

.personal-detail > .detail,
.personal-detail > .title {
    font-size: 12px;
    font-family: Inter, serif;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.03rem;
    overflow-wrap: break-word;
}

.personal-detail > .delete-button {
    cursor: pointer;
    align-self: center;
    max-width: 100%;
}

.personal-detail > .detail {
    margin-right: 2px;
}

.personal-detail > .title {
    margin-right: 10px;
    margin-left: 3px;
}


.header > .line-break {
    grid-column: span 2;
    border-bottom: 2px solid black;
}

input {
    border: hidden;
    padding: 0;
}

input:focus {
    z-index: 2;
}

.sections-container {
    display: grid;
}

section {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 10px;

}

.title-container {
    display: flex;
    gap: 4px;
    align-items: center;
    grid-column: span 2;
}

.title-container > .delete-button {
    max-width: 15px;
    cursor: pointer;
}

.title-container > .title {
    font-family: Inter, serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.subsection-container {
    grid-column: span 2;
    display: grid;
    grid-template-columns: auto 200px 1fr;
    align-items: center;
    gap: 5px;
    padding-left: 30px;
}

.subsection-container > .delete-button {
    max-width: 12px;
    cursor: pointer;
}

.subsection-container > .date,
.subsection-container > .title {
    font-family: Inter, serif;
    font-size: 0.8rem;
    font-weight: bold;
    max-width: 90%;
}

.subsection-container > .title {
    font-size: 0.9rem;
}

.subsection-container > .detail {
    font-family: Inter, serif;
    grid-column: 3;
    max-width: 90%;
    resize: vertical;
    font-size: 0.8rem;
}

section > .add-subsection {
    cursor: pointer;
    max-width: 15px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.add-section {
    cursor: pointer;
    background: #238A2D;
    font-family: Inter, serif;
    border-radius: 12px;
    border: none;
    padding: 5px;
    color: white;
    font-weight: bold;
    margin-left: auto;
}

button:hover,
img:hover:not(.profile-picture) {
    transform: scale(110%);
}


@media print {
    button {
        visibility: hidden;
    }

    img:not(.profile-picture) {
        visibility: hidden;
    }

    @page {
        size: A4;
    }
}

